<table class="table" *ngIf="tools && tools.length">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tool of tools">
            <td>
                {{ tool.toolName }}
            </td>
            <td>
                {{ tool.toolState.toolStateName }}
            </td>
            <td>
                <a [routerLink]="['/tools-management', tool.toolId]">
                    <fa-icon [icon]="faCircleInfo" class="me-2 text-primary" role="button"></fa-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table>