<div class="container">
    <h1 class="text-center mt-3">Administración de equipos y herramienta</h1>
    <section>
        <h2 class="text-center mt-3">Inventario</h2>
        <app-tools-list [tools]="tools"></app-tools-list>
        <div class="text-center">
            <a class="btn btn-outline-primary" [routerLink]="routeConstants.addToolPath">Agregar nuevo elemento</a>
        </div>
    </section>
    <section class="mt-5">
        <h2 class="text-center">Salidas</h2>
        <app-tools-list [tools]="tools"></app-tools-list>
        <div class="text-center">
            <button class="btn btn-outline-primary" (click)="onOpenAddToolModal()">Agregar nueva salida</button>
        </div>
    </section>
</div>
