<div class="container" *ngIf="equipment">
    <app-section-title
        [title]="equipment.equipmentName"
        [editableSection]="!editingEquipment"
        (editButtonClickedEvent)="setEditingEquipment(true)">
    </app-section-title>
    <div class="row mt-3">
        <ng-container *ngIf="!editingEquipment; else editEquipmentSection">
            <app-equipment-info [equipment]="equipment"></app-equipment-info>
        </ng-container>
        <ng-template #editEquipmentSection>
            <app-edit-equipment 
                [equipment]="equipment" 
                (cancelEvent)="setEditingEquipment(false)"
                (equipmentUpdatedEvent)="onEquipmentUpdated()">
            </app-edit-equipment>
        </ng-template>
    </div>
    <div class="row mt-3" *ngIf="workItems && workItems.length">
        <h2 class="text-center">Ítems asociados</h2>
        <app-work-items-list 
            [workItems]="workItems" [columns]="['Id', 'OT', 'Asignado a', 'Estado', 'Descripción']">
        </app-work-items-list>
    </div>
</div>