<div class="container" *ngIf="equipment">
    <h4 class="mt-3 text-center">{{ equipment.equipmentName }}</h4>
    <div class="row mt-3">
        <div class="col">
            <p><b>Cliente: </b> <a [routerLink]="'/' + routeConstants.customersPath + '/' + equipment.customerId">{{ equipment.customerName }}</a></p>
            <p><b>Sucursal: </b> 
                <a [routerLink]="'/' + routeConstants.customersPath + '/' + equipment.customerId + '/' + routeConstants.branchPath + '/' + equipment.branchId">
                    {{ equipment.branchName }}
                </a>                
            </p>
            <p><b>Descripción: </b> {{ equipment.equipmentDescription ? equipment.equipmentDescription : "No se ingresó descripción del equipo." }}</p>
            <div class="row g-2" *ngIf="equipment.equipmentParameters.length">
                <P class="mb-1"><b>Parámetros del equipo:</b></P>
                <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let param of equipment.equipmentParameters">
                    <p class="m-0">
                        {{ param.name }}: {{ param.parameterValue + ' ' + param.measurementUnitSymbol }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <h5 class="text-center">Ítems asociados</h5>
        <app-work-items-list 
            [workItems]="workItems" [columns]="['Tipo de mantenimiento', 'Descripción']"
            (rowClickedEvent)="navigateToWo($event)"></app-work-items-list>
    </div>
</div>