<table class="table table-hover" *ngIf="items && items.length">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Fecha de creación
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items" role="button" (click)="onRowClicked(item)">
            <td>
                {{ item.workOrderId }}
            </td>
            <td>
                {{ item.createdOn | date }}
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<p *ngIf="items && !items.length" class="text-center mt-3">
    No se encontraron elementos
</p>