.action-button {
    padding: 0;
    background: transparent;
    border: none;
    margin-right: .5rem;

    &:last-child {
        margin-right: none;
    }

    &:hover {
        color: black;
    }
}