<table class="table table-hover" *ngIf="items && items.length">
    <thead>
        <tr>            
            <th *ngFor="let item of headers">
                {{ item }}
            </th>
            <th *ngIf="actions">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items" role="button" (click)="onRowClicked($event, item)">
            <td>
                {{ item.id }}
            </td>
            <td>
                {{ item.name }}
            </td>
            <td *ngIf="actions">
                <button 
                    *ngFor="let action of actions"
                    class="action-button" 
                    type="button"
                    (click)="actionButtonClicked(action, item)">
                    <fa-icon [icon]="action | listActionIcon" class="text-primary"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="items && !items.length" class="text-center mt-3">
    No se encontraron elementos
</p>