<form *ngIf="workOrder && workOrderForm" [formGroup]="workOrderForm" (ngSubmit)="onSubmit()">
    <div class="row mt-3 g-3">
        <div class="col-12">
            <p class="m-0"><b>Cliente: </b>{{ workOrder.customerName }}</p>
        </div>        
        <div class="col-lg-4 col-sm-6">
            <label class="form-label">Código GMC</label>
            <input type="text" class="form-control" formControlName="internalCode">
        </div>
        <div class="col-lg-4 col-sm-6">
            <label class="form-label">Código OT cliente</label>
            <input type="text" class="form-control" formControlName="customerCode">
        </div>
        <div class="col-lg-4 col-sm-6">
            <app-dropdown 
                [label]="'Sucursal'" 
                [options]="branches! | toDropdownItem:'branch'"
                [selectedOptionId]="workOrder.branchId"
                (onSelectOptionEvent)="onSelectBranch($event)">
            </app-dropdown>
        </div>
        <div class="col-lg-4 col-sm-6" *ngIf="equipment && equipment.length">
            <app-dropdown 
                [label]="'Equipo'" 
                [options]="equipment | toDropdownItem:'equipment'"
                [selectedOptionId]="workOrder.equipmentId"
                (onSelectOptionEvent)="onSelectEquipment($event)">
            </app-dropdown>
        </div>
        <div class="col-lg-4 col-sm-6">
            <app-dropdown 
                [label]="'Estado'" 
                [options]="workOrderStates! | toDropdownItem:'workState'"
                [selectedOptionId]="workOrder.workState?.id"
                (onSelectOptionEvent)="onSelectWorkOrderState($event)">
            </app-dropdown>
        </div>
        <div class="col-lg-4 col-sm-6">
            <app-dropdown 
                [label]="'Asignado a'" 
                [options]="employees! | toDropdownItem:'user'"
                [selectedOptionId]="workOrder.assignedUserId"
                (onSelectOptionEvent)="onSelectEmployee($event)">
            </app-dropdown>
        </div>
        <div class="col-12">
            <label class="form-label">Trabajo a realizar</label>
            <textarea rows="5" class="form-control" formControlName="description"></textarea>
        </div>
    </div>
    <div class="row mt-3">
        <h2 class="text-center">Archivos</h2>
        <app-add-images 
            [appFiles]="workOrder!.files"
            (addFilesEvent)="onFileAdded($event)"
            (removeFileEvent)="onFileRemoved($event)"></app-add-images>
    </div>
    <div class="d-flex mt-3 justify-content-center">
        <button type="button" class="btn btn-outline-danger me-3" (click)="cancelUpdateEvent.emit()">Cancelar</button>
        <button class="btn btn-outline-primary" [disabled]="!workOrderForm!.valid">Guardar</button>
    </div>  
</form>
