<div class="modal-header">
    <h4 class="modal-title pull-left">Agregar Nuevo equipo</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form *ngIf="addEquipmentForm" [formGroup]="addEquipmentForm" (ngSubmit)="addEquipmentForm.valid && onSubmit()">
        <div class="row g-2">
            <div class="col-12">
                <label for="equipmentName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="equipmentName" formControlName="equipmentName">
            </div>
            <div class="col-12">
                <label class="form-label" for="equipmentDescription">Descripción del equipo</label>
                <textarea class="form-control" id="equipmentDescription"></textarea>
            </div>
        </div>
        <div class="row mt-2">
            <h6>Parámetros técnicos</h6>
            <div *ngIf="!addNewParameter">
                <p>Aún no se ha agregado ningún parámetro.</p>
                <div class="d-flex justify-content-center">
                    <button 
                        class="btn btn-sm btn-outline-primary" 
                        (click)="setAddNewParameter(true)">
                        Agregar nuevo parámetro
                    </button>
                </div>
            </div>
            <app-add-equipment-parameter 
                *ngIf="addNewParameter"
                (cancelAddParameterEvent)="setAddNewParameter(false)"></app-add-equipment-parameter>
        </div>        
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cerrar</button>
    <button class="btn btn-outline-primary" [disabled]="!addEquipmentForm!.valid" (click)="onSubmit()">Guardar</button>
</div>