<form class="mb-3" [formGroup]="workOrderForm!">
    <div class="row g-3" *ngIf="branch">
        <div class="col-sm-6">
            <p class="m-0"><b>Cliente:</b> {{ branch.customerName }}</p>
        </div>
        <div class="col-sm-6">
            <p class="m-0"><b>Sucursal:</b> {{ branch.name }}</p>
        </div>
        <div class="col-lg-6">
            <label class="form-label">Código GMC</label>
            <input type="text" class="form-control" formControlName="internalCode">
        </div>
        <div class="col-lg-6">
            <label class="form-label">Código OT cliente</label>
            <input type="text" class="form-control" formControlName="customerCode">
        </div>
        <div class="col-lg-4 col-sm-6">
            <app-dropdown 
                *ngIf="branch.equipment && branch.equipment.length"
                [label]="'Equipo'" 
                [options]="branch.equipment! | toDropdownItem:'equipment'"
                (onSelectOptionEvent)="onSelectItem($event, 1)">
            </app-dropdown>
        </div>
        <div class="col-lg-4 col-sm-6">
            <app-dropdown 
                *ngIf="workOrderTypes"
                [label]="'Tipo de trabajo'" 
                [options]="workOrderTypes! | toDropdownItem"
                (onSelectOptionEvent)="onSelectItem($event, 2)">
            </app-dropdown>
        </div>
        <div class="col-lg-4 col-sm-6">
            <app-dropdown 
                *ngIf="employees"
                [label]="'Asignado a'" 
                [options]="employees! | toDropdownItem:'employee'"
                (onSelectOptionEvent)="onSelectItem($event, 3)">
            </app-dropdown>
        </div>
        <div class="col-12">
            <div>
                <label class="form-label">Trabajo a realizar</label>
                <textarea class="form-control" id="workOrderDescription" formControlName="workOrderDescription"></textarea>
            </div>
        </div>
    </div>
</form>
