<form class="mb-3" [formGroup]="workOrderForm!">
    <div class="row g-2" *ngIf="branch">
        <div class="col-6">
            <p><b>Cliente:</b> {{ branch.customerName }}</p>
        </div>
        <div class="col-6">
            <p><b>Sucursal:</b> {{ branch.name }}</p>
        </div>
        <div class="col-4">
            <app-dropdown 
                [label]="'Equipo'" 
                [options]="branch.equipment! | toDropdownItem:'equipment'"
                (onSelectOptionEvent)="onSelectItem($event, 1)">
            </app-dropdown>
        </div>
        <div class="col-4">
            <app-dropdown 
                *ngIf="workOrderTypes"
                [label]="'Tipo de trabajo'" 
                [options]="workOrderTypes! | toDropdownItem"
                (onSelectOptionEvent)="onSelectItem($event, 2)">
            </app-dropdown>
        </div>
        <div class="col-4">
            <app-dropdown 
                *ngIf="employees"
                [label]="'Asignado a'" 
                [options]="employees! | toDropdownItem:'employee'"
                (onSelectOptionEvent)="onSelectItem($event, 3)">
            </app-dropdown>
        </div>
        <div class="col-12">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Descripción general" id="workOrderDescription" formControlName="workOrderDescription"></textarea>
                <label for="workOrderDescription">Descripción general</label>
            </div>
        </div>
    </div>
</form>
