<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                        Inicio
                    </a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <p class="mb-0 me-2">{{ user!.name }}</p>
                <button class="btn btn-outline-primary btn-sm" (click)="onLogout()">
                    <fa-icon [icon]="rightFromBracket"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</nav>