<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                        Inicio
                    </a>
                </li>
            </ul>
            <div>
                <button class="btn btn-outline-primary btn-sm" (click)="onLogout()">Cerrar sesión</button>
            </div>
        </div>
    </div>
</nav>