<div class="modal-header">
    <h4 class="modal-title">Nuevo ítem de trabajo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="workItemForm!">
        <div class="row g-2">
            <div class="col-lg-4">
                <app-dropdown [label]="'Equipo'" [options]="equipment! | toDropdownItem:'equipment'" (onSelectOptionEvent)="selectedDwElement($event, 1)"></app-dropdown>
            </div>
            <div class="col-lg-4">
                <app-dropdown [label]="'Tipo de mantenimiento'" [options]="workItemTypes! | toDropdownItem" (onSelectOptionEvent)="selectedDwElement($event, 2)"></app-dropdown>
            </div>
            <div class="col-lg-4">
                <app-dropdown [label]="'Asignado a'" [options]="employees! | toDropdownItem:'employee'" (onSelectOptionEvent)="selectedDwElement($event, 3)"></app-dropdown>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="form-floating">
                    <textarea class="form-control" id="new-work-item-description" formControlName="workItemDescription"></textarea>
                    <label for="new-work-item-description">Descripción</label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="submitWorkItem()" [disabled]="!workItemForm!.valid">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Cerrar</button>
</div>