.dropdown-input {
    &--options {
        padding: .2rem;
        border: 1px solid #ced4da;
        border-radius: .375rem;

        ul {
            margin-top: .25rem;

            li {
                padding-left: .5rem;
                font-size: .8rem;

                &:hover {
                    background-color: rgba(200, 200, 200, .2);
                } 
            }
        }
    }
}