:host {
    display: block;
    width: 100%;
    overflow: auto;
}

.table {
    p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    thead {
        th {
            p {
                margin: 0;
            }
        }
    }

    tbody {
        tr {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 992px) {
    :host {
        overflow: visible;
    }
}