:host {
    display: block;
    width: 100%;
    overflow: auto;
}

.table {
    thead {
        th {
            p {
                margin: 0;
            }
        }
    }

    tbody {
        tr {
            cursor: pointer;
        }
    }
}