<div class="container" *ngIf="outputTool">
    <h2 class="text-center mt-3">Registro de salida de herramienta - Detalle</h2>
    <div class="row mt-3">
        <div class="col">
            <ul class="list-unstyled">
                <li>
                    <p><b>Fecha de creación:</b> {{ outputTool.outputDateTime | date:'medium' }}</p>
                </li>
                <li>
                    <p><b>Responsable:</b> {{ outputTool.responsible.name }}</p>
                </li>
                <li>
                    <p><b>Estado:</b> 
                    {{ outputTool.toolOutputState.outputToolStateName.toLowerCase() == "open" ? "Abierto" : "Cerrado" }}</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h4 class="text-center mt-3">Herramientas prestadas</h4>
            <tools-list [tools]="lentTools" [actions]="listActions" (actionButtonClickedEvent)="actionButtonClicked($event)"></tools-list>
            <div class="text-center" *ngIf="lentTools?.length">
                <button class="btn btn-outline-primary btn-sm"
                    (click)="returnToolsWithNoIssues()">Devolver todo sin novedad</button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h4 class="text-center mt-3">Herramientas devueltas</h4>
            <tools-list [tools]="availableTools"></tools-list>
        </div>
    </div>
</div>