<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-outline-dark dropdown-toggle"
        aria-controls="dropdown-basic">
        {{ selectedOption ? selectedOption.description : label }} <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li 
            role="menuitem" 
            class="dp-item"
            *ngFor="let option of options"
            (click)="onSelectOption(option)">
            <p class="m-0 ps-2 pe-2" role="button">{{ option.description }}</p>
        </li>
    </ul>
</div>