<table class="table table-hover" *ngIf="filteredData">
    <thead>
        <tr>
            <ng-container *ngFor="let data of filteredData[0] | keyvalue">
                <th *ngIf="data.key != 'id'" >
                    <div class="d-flex justify-content-between gap-2">
                        <p (click)="sortBy($event, data.key)">{{ data.key }}</p>
                        <app-column-filter (applyFilterEvent)="onFilterApplied($event, data.key)"></app-column-filter>
                    </div>
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of filteredData" (click)="rowClickedEvent.emit(element)">
            <ng-container *ngFor="let detail of element | keyvalue">
                <td *ngIf="detail.key != 'id'">
                    {{ detail.value }}
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>