<div *ngIf="loginForm" class="login-card">
    <div class="login-card__header text-center">
        <p class="login-card__header-icon m-auto text-white bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center">
            <fa-icon [icon]="faLock"></fa-icon>
        </p>
        <h4 class="login-card__header-icon-title text-center mt-2">Bienvenido</h4>
    </div>
    <form class="mt-3" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
        <div class="mb-3">
            <label for="id" class="form-label">Número de cédula</label>
            <input type="text" class="form-control" id="id" formControlName="id">
        </div>
        <div class="text-center">
            <button class="btn btn-outline-primary" [disabled]="!loginForm.valid">Ingresar</button>
        </div>
    </form>
</div>