<div class="container" *ngIf="user">
    <h2 class="text-center mt-3">Detalle de usuario</h2>
    <div class="d-flex justify-content-center" *ngIf="(userRolesEnum.UsersAdmin | userRoles) && !isEditing">
        <button type="button" class="btn btn-outline-primary" (click)="setIsEditing(true)">Editar usuario</button>
    </div>
    <app-user-detail-view [user]="user" *ngIf="!isEditing"></app-user-detail-view>
    <app-user-detail-edit *ngIf="isEditing" [user]="user" [userRoles]="userRoles"
        (cancelEditEvent)="setIsEditing(false)" (userUpdatedEvent)="userUpdated()">
    </app-user-detail-edit>
    <div class="row mt-3" *ngIf="user.assignedWorkOrders?.length">
        <h4 class="text-center mb-3">Trabajos asignados</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha de creación</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of user.assignedWorkOrders">
                    <td>
                        <a [routerLink]="'/' + routeConstants.workOrderPath + '/' + item.workOrderId">
                            {{ item.workOrderId }}
                        </a>
                    </td>
                    <td>
                        {{ item.createdOn | date }}
                    </td>
                    <td>
                        {{ item.workState! | workState }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mt-3" *ngIf="user.outputsTool && user.outputsTool.length">
        <h4 class="text-center mb-3">Salidas de herramienta</h4>
        <output-tool-list [outputsTool]="user.outputsTool"></output-tool-list>
    </div>
</div>