<table class="table table-hover" *ngIf="workItems && workItems.length">
    <thead>
        <tr>
            <th>
                Equipo
            </th>
            <th>
                Tipo de mantenimiento
            </th>
            <th>
                Descripción
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of workItems" role="button">
            <td>
                {{ item.equipment.equipmentName }}
            </td>
            <td>
                {{ item.workItemType.workItemTypeName }}
            </td>
            <td>
                {{ item.workItemDescription }}
            </td>
        </tr>
    </tbody>
</table>