<table class="table table-hover" *ngIf="workItems && workItems.length">
    <thead>
        <tr>
            <th *ngFor="let col of columns">
                {{ col }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of workItems">
            <td *ngIf="columns | contains:'Id'">
                <a [routerLink]="'/' + routeConstants.workItemPath + '/' + item.workItemId">
                    {{ item.workItemId }}
                </a>
            </td>
            <td *ngIf="columns | contains:'OT'">
                <a [routerLink]="'/' + routeConstants.workOrderPath + '/' + item.workOrderId">
                    {{ item.workOrderId }}
                </a>
            </td>
            <td *ngIf="columns | contains:'Equipo'">
                <a [routerLink]="'/' + routeConstants.equipmentPath + '/' + item.equipment.id">
                    {{ item.equipment.name }}
                </a>
            </td>
            <td *ngIf="columns | contains:'Asignado a'">
                <a [routerLink]="'/' + routeConstants.usersManagement + '/' + item.assignedUserId">
                    {{ item.assignedUserName }}
                </a>
            </td>
            <td *ngIf="columns | contains:'Estado'">
                {{ item.workState! | workState }}
            </td>
            <td *ngIf="columns | contains:'Descripción'">
                {{ item.workItemDescription ? item.workItemDescription : "No se agregó descripción." }}
            </td>
        </tr>
    </tbody>
</table>