<table class="table table-hover" *ngIf="workItems && workItems.length">
    <thead>
        <tr>
            <th *ngFor="let col of columns">
                {{ col }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of workItems" role="button" (click)="onRowClicked(item)">
            <td *ngIf="item.equipment">
                {{ item.equipment.equipmentName }}
            </td>
            <td>
                {{ item.workItemTypeName }}
            </td>
            <td>
                {{ item.assignedUserName }}
            </td>
            <td>
                {{ item.workItemDescription ? item.workItemDescription : "No se agregó descripción." }}
            </td>
        </tr>
    </tbody>
</table>