<div class="container" *ngIf="workItem">
    <h4 class="mt-3 text-center">Ítem de trabajo: {{ workItem.workItemId }}</h4>
    <div class="row mt-3">
        <div class="col">
            <p><b>Orden de trabajo: </b>  <a [routerLink]="'/' + routeConstants.workOrderPath + '/' + workItem.workOrderId">{{ workItem.workOrderId }}</a></p>
            <p><b>Cliente: </b> {{ workItem.equipment.customerName }}</p>
            <p><b>Sucursal: </b> {{ workItem.equipment.branchName }}</p>
            <p><b>Fecha de creación: </b> {{ workItem.createdOn | date }}</p>
            <p><b>Descripción: </b> {{ workItem.workItemDescription ? workItem.workItemDescription : "No se ingresó descripción de la OT." }}</p>
        </div>
    </div>
</div>