<div class="container" *ngIf="workItem">
    <app-section-title
        [title]="'Ítem de trabajo: ' + workItem!.workItemId"
        [editableSection]="true">
    </app-section-title>
    <app-work-item-general-info 
        [workItem]="workItem">
    </app-work-item-general-info>
    <app-work-item-edit
        [workItem]="workItem">
    </app-work-item-edit>
    <div class="row mt-3">
        <h2 class="text-center">Trabajos realizados</h2>
        <app-new-work-item-activity-log 
            [workItemId]="workItem.workItemId"
            (workItemActivityLogCreatedEvent)="activityLogCreated()"></app-new-work-item-activity-log>
        <app-items-list 
            [headers]="['Id', 'Descripción']"
            [items]="workItem.workItemActivityLogs | toItemList:'workItemActivityLog'"
            (rowClickedEvent)="showWorkActivityLogDetail($event)"></app-items-list>
    </div>
</div>