<div class="row mt-3 g-2" *ngIf="user">
    <div class="col-lg-4 col-sm-6">
        <p><b>Nombre: </b>{{ user.name }}</p>
    </div>
    <div class="col-lg-4 col-sm-6">
        <p><b>Email: </b>{{ user.email }}</p>
    </div>
    <div class="col-lg-4 col-sm-6">
        <p><b>Identificación: </b>{{ user.idCard }}</p>
    </div>
    <div class="col-lg-4 col-sm-6">
        <p><b>Dirección: </b>{{ user.address || '-' }}</p>
    </div>
    <div class="col-lg-4 col-sm-6">
        <p><b>Teléfono: </b>{{ user.phone || '-' }}</p>
    </div>
    <div class="col-lg-4 col-sm-6">
        <p><b>Empresa: </b>{{ user.company.companyName }}</p>
    </div>
</div>
