<div class="row mt-3 g-3" *ngIf="workItem">
    <div class="col-sm-6">
        <p class="mb-0"><b>Orden de trabajo: </b><a [routerLink]="'/' + routeConstants.workOrderPath + '/' + workItem!.workOrderId">{{ workItem!.workOrderId }}</a></p>
    </div>
    <div class="col-sm-6">
        <p class="mb-0"><b>Fecha de creación: </b> {{ workItem.createdOn | date }}</p>
    </div>
    <div class="col-sm-6">
        <p class="mb-0"><b>Cliente: </b><a [routerLink]="'/' + routeConstants.customersPath + '/' + workItem.equipment.customerId">{{ workItem!.equipment.customerName }}</a></p>
    </div>
    <div class="col-sm-6">
        <p class="mb-0"><b>Sucursal: </b>  
            <a [routerLink]="'/' + routeConstants.customersPath + '/' + workItem.equipment.customerId + '/' + routeConstants.branchPath + '/' + workItem.equipment.branchId">
                {{ workItem!.equipment.branchName }}
            </a>
        </p>
    </div>
    <div class="col-sm-6">
        <p class="mb-0"><b>Asignado a: </b>
            <a [routerLink]="'/' + routeConstants.usersManagement + '/' + workItem.assignedUserId">
                {{ workItem.assignedUserName }}
            </a>
        </p>
    </div>
    <div class="col-sm-6">
        <p class="mb-0"><b>Tipo de trabajo: </b> {{ workItem.workItemTypeName }}</p>
    </div>
    <div class="col-sm-6">
        <p class="mb-0"><b>Equipo: </b><a [routerLink]="'/' + routeConstants.equipmentPath + '/' + workItem.equipment.id">{{ workItem!.equipment.name }}</a></p>
    </div>
    <div class="col-sm-6">
        <p class="mb-0"><b>Estado: </b> {{ workItem.workState! | workState }}</p>
    </div>
    <div class="col-12">
        <p class="mb-0"><b>Descripción: </b> {{ workItem.workItemDescription ? workItem.workItemDescription : "No se ingresó descripción de la OT." }}</p>
    </div>
</div>