<div class="modal-header">
    <h4 class="modal-title pull-left">Agregar Nuevo Usuario</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form *ngIf="addUserForm" [formGroup]="addUserForm" (ngSubmit)="addUserForm.valid && onSubmit()">
        <div class="row g-2">
            <div class="col-md-6">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="col-md-6">
                <label for="idCard" class="form-label">Identificación</label>
                <input type="text" class="form-control" formControlName="idCard">
            </div>
            <div class="col-12">
                <p>Roles</p>
                <ul class="list-unstyled">
                    <li *ngFor="let role of userRoles">
                        <div class="form-check">
                            <input 
                            class="form-check-input" 
                            type="checkbox" 
                            [value]="role.id" 
                            [id]="'userRoles-' + role.id"
                            (change)="setUserRoleValue($event)">
                            <label class="form-check-label" [attr.for]="'userRoles-' + role.id">
                                {{ role.displayName }}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>        
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="activeModal.dismiss()">Cancelar</button>
    <button class="btn btn-outline-primary" [disabled]="!addUserForm!.valid" (click)="onSubmit()">Enviar</button>
</div>