<div class="modal-header">
    <h4 class="modal-title pull-left">Nueva Orden de trabajo</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-add-work-order-form 
        [branch]="branch"
        (woEvent)="onSaveWO($event)"></app-add-work-order-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="addWorkOrderForm.emitWOInfo()">Guardar OT</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cerrar</button>
</div>