<table class="table table-hover" *ngIf="filteredBranches; else elseBlock">
    <thead>
        <tr>
            <th>
                <span>Código</span>
                <div class="ms-3 search-field d-inline">
                    <input type="text" placeholder="Buscar" (keyup)="filterBy($event, 'code')"/>
                    <fa-icon [icon]="faSearch"></fa-icon>
                </div>
            </th>
            <th>
                <span>Nombre</span>
                <div class="ms-3 search-field d-inline">
                    <input type="text" placeholder="Buscar" (keyup)="filterBy($event, 'name')"/>
                    <fa-icon [icon]="faSearch"></fa-icon>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let branch of filteredBranches" role="button" (click)="onRowClicked(branch)">
            <td>{{ branch.code }}</td>
            <td>{{ branch.name }}</td>
        </tr>
    </tbody>
</table>

<ng-template #elseBlock>
    <p class="text-center">
        No se encontraron elementos.
    </p>
</ng-template>