.parameter-card {
    &--name {
        width: 55%;
    }

    &--value,
    &--icon,
    &--symbol {
        width: 15%;
        text-align: center;
    }

    &--icon {
        color: #dc3545;
    }
}