.form-control-row {
    padding-top: .2rem;
    padding-bottom: .2rem;
    height: 1.3125rem;
    font-size: 0.8rem;
}

fa-icon {
    color: #adb5bd;
    
    &:hover {
        color: #0d6efd;
    }
}