<p *ngIf="!tools || (tools && !tools.length)">No hay herramientas seleccionadas</p>
<table class="table" *ngIf="tools && tools.length">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tool of tools">
            <td>{{ tool.toolGuid | lastCharacters:6 }}</td>
            <td>{{ tool.toolName }}</td>
            <td>
                <fa-icon [icon]="faCircleInfo" class="me-2" role="button"></fa-icon>
                <fa-icon 
                    [icon]="faTrash" 
                    role="button" 
                    class="text-danger"
                    (click)="onDeleteTool(tool)"></fa-icon>
            </td>
        </tr>
    </tbody>
</table>