<div class="container" *ngIf="tool">
    <h1 class="text-center mt-3">{{ tool.toolName }}</h1>
    <div class="row mt-3">
        <div class="col-sm-4">
            <app-qr-info [tool]="tool"></app-qr-info>            
        </div>
        <div class="col-sm-8">
            <h2 class="text-center">Información general</h2>
            <ng-container *ngIf="!updatingTool">
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <p><b>Nombre:</b> {{ tool.toolName }}</p>
                    </div>
                    <div class="col-sm-6">
                        <p><b>Estado:</b> {{ tool.toolState.toolStateName}}</p>
                    </div>
                    <div class="col-sm-6" *ngFor="let parameter of tool.toolParameters">
                        <p><b>{{ parameter.name }}:</b> {{ parameter.measurementUnitSymbol ? parameter.parameterValue + ' | ' + parameter.measurementUnitSymbol : parameter.parameterValue }}</p>
                    </div>
                </div>
                <div>
                    <button class="btn btn-outline-primary" (click)="setUpdatingTool(true)" type="button">Editar herramienta</button>
                </div>
            </ng-container>
            <app-edit-tool-form 
                [tool]="tool" 
                *ngIf="updatingTool"
                (cancelUpdateToolEvent)="setUpdatingTool(false)"
                (updatedToolEvent)="onToolUpdated($event)"></app-edit-tool-form>
        </div>
    </div>
</div>