<section class="container">
    <h1 class="text-center mt-3">Agregar nuevo equipo o herramienta</h1>
    <form [formGroup]="addNewToolForm!">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <label for="toolName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="toolName" formControlName="toolName">
            </div>
        </div>
        <div class="row mt-3" *ngIf="tool && tool.toolParameters && tool.toolParameters.length">
            <h2 class="text-center">Parámetros añadidos</h2>
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let parameter of tool.toolParameters">
                <label class="form-label">{{ parameter.name }}</label>
                <input type="text" class="form-control"
                    [value]="parameter.parameterValue + ' | ' + parameter.measurementUnitSymbol" disabled />
            </div>
        </div>
        <div class="text-center mt-3" *ngIf="!isAddingAdditionalInfo; else addingAdditionalInfo">
            <button class="btn btn-outline-primary" (click)="openAddFilesModal()">Agregar imágenes</button>
            <button class="btn btn-outline-primary ms-2" (click)="initAdditionalInformation()">Agregar información
                adicional</button>
            <button class="btn btn-outline-primary ms-2" [disabled]="!addNewToolForm!.valid" (click)="addNewTool()">Guardar</button>
        </div>
        <ng-template #addingAdditionalInfo>
            <div class="row mt-3" *ngIf="!isAddingExistingParameter && !isAddingNewParameter">
                <div class="col d-flex justify-content-center">
                    <app-dropdown-input [buttonText]="'Seleccionar nuevo parámetro'"
                        [options]="toolParameters | toItemList:'toolParameter'" [showAddNewItemButton]="true"
                        (selectItemEvent)="setExistingParameter($event)"
                        (addNewItemEvent)="setIsAddingNewParameter(true)">
                    </app-dropdown-input>
                    <div>
                        <button class="btn btn-outline-danger ms-2"
                            (click)="setIsAddingAdditionalInfo(false)">Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <app-set-parameter 
                        *ngIf="isAddingExistingParameter"
                        [toolParameter]="tempParameter"
                        (cancelEvent)="this.setIsAddingExistingParameter(false)"
                        (setParameterEvent)="onAddParameter($event)">
                    </app-set-parameter>
                    <app-add-new-parameter *ngIf="isAddingNewParameter"
                        (cancelEvent)="this.setIsAddingNewParameter(false)"
                        (addNewParameterEvent)="onAddParameter($event)">
                    </app-add-new-parameter>
                </div>
            </div>
        </ng-template>
        <div class="row">
            <h2 class="text-center mt-3">Imágenes añadidas</h2>
            <ngb-carousel *ngIf="addNewToolForm">
                <ng-template ngbSlide *ngFor="let img of addNewToolForm.controls['files'].value">
                    <app-image-thumbnail *ngIf="addNewToolForm" [compImage]="img"></app-image-thumbnail>
                </ng-template>
            </ngb-carousel>
            
        </div>
    </form>
</section>