<div class="container" *ngIf="workOrder">
    <h1 class="mt-3 d-flex justify-content-center align-items-center">
        Orden de trabajo: {{ workOrder.workOrderId }}
        <app-edit-model></app-edit-model>
    </h1>
    <div class="row mt-3">
        <div class="col-sm-6">
            <p><b>Cliente: </b> <a [routerLink]="'/' + routeConstants.customersPath + '/' + workOrder.customerId">{{ workOrder.customerName }}</a></p>
        </div>
        <div class="col-sm-6">
            <p><b>Sucursal: </b> 
                <a [routerLink]="'/' + routeConstants.customersPath + '/' + workOrder.customerId + '/' + routeConstants.branchPath + '/' + workOrder.branchId">
                    {{ workOrder.branchName }}
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <p><b>Fecha de creación: </b> {{ workOrder.createdOn | date }}</p>
        </div>
        <div class="col-sm-6">
            <p><b>Estado: </b> {{ workOrder.workState! | workState }}</p>
        </div>
        <div class="col-12">
            <p><b>Descripción: </b> {{ workOrder.workOrderDescription ? workOrder.workOrderDescription : "No se ingresó descripción de la OT." }}</p>
        </div>
    </div>
    <div class="row mt-3">
        <h5 class="text-center">Ítems</h5>
        <app-work-items-list 
            [workItems]="workOrder.workItems">
        </app-work-items-list>
        <div class="d-flex justify-content-center" *ngIf="userRoles.CustomersAdmin | userRoles">
            <button class="btn btn-outline-primary" (click)="showNewWIModal()">Agregar nuevo ítem</button>
        </div>
    </div>
</div>