<div class="container" *ngIf="workOrder">
    <section class="d-flex justify-content-center align-items-center gap-3 mt-3">
        <p [ngClass]="[setWorkOrderStateClass(workOrder.workState!), 'work-order-state m-0']">
            {{ workOrder.workState! | workState }}
        </p>
        <h1 class="m-0 d-flex justify-content-center align-items-center">
            Orden de trabajo: {{ workOrder.internalCode ? workOrder.internalCode : workOrder.workOrderId }}
            <app-edit-model 
                *ngIf="!isEditingWorkOrder"
                (click)="onEditWorkOrder()"></app-edit-model>
        </h1>
    </section>
    <ng-container *ngIf="!isEditingWorkOrder; else editingWorkOrder">
        <app-work-order-info [workOrder]="workOrder"></app-work-order-info>        
    </ng-container>
    <ng-template #editingWorkOrder>
        <app-edit-work-order 
            [workOrder]="workOrder"
            (cancelUpdateEvent)="onCancelEditWorkOrder()"
            (workOrderUpdatedEvent)="onWorkOrderEdited()"></app-edit-work-order>
    </ng-template>
</div>