<div class="modal-header">
    <h4 class="modal-title pull-left">Agregar Nueva sucursal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form *ngIf="addBranchForm" [formGroup]="addBranchForm">
        <div class="mb-3">
            <label for="branchName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="branchName" formControlName="branchName">
        </div>        
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark me-2" (click)="activeModal.close(false)">Cerrar</button>
    <button type="button" class="btn btn-outline-primary" [disabled]="!addBranchForm!.valid" (click)="onSubmit()">Guardar</button>
</div>