<div class="row justify-content-center g-3 mt-3 mb-3">
    <div class="col-sm-6 col-lg-4" *ngFor="let item of appConstants.MENU_ITEMS | filterDashboardRoles:account!.userRoles">
        <div class="option-card" >
            <a [routerLink]="['/', item.path]"></a>
            <div class="option-card__icon">
                <fa-icon [icon]="item.icon"></fa-icon>
            </div>
            <div class="option-card__title">
                {{ item.title }}
            </div>
        </div>
    </div>
</div>